In [1]:
import pandas as pd
ksprojects = pd.read_csv(r'C:\Users\ojiang1\Desktop\Data Science\ksprojects.csv')

In [3]:
ksprojects.shape
#1. 65418 rows

(65418, 13)

In [4]:
#2.  names and data types of the columns
ksprojects.columns

Index(['id', 'name', 'category', 'main_category', 'deadline', 'goal',
       'launched', 'state', 'backers', 'country', 'usd_pledged', 'currency',
       'pledged'],
      dtype='object')

In [15]:
#3. after drop null, the columns changed from 13 to 12, so one of the columns contain null values
ksprojects.info()
ksprojects_dropnull = ksprojects.dropna(axis=1)
ksprojects_dropnull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
usd_pledged      64673 non-null float64
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 12 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(2), int64(2), object(8)
memory usage: 6.0+ MB

4. Find all successful documentary projects and sort them by the amount pledged. Print the top 10 highest pledges.

In [55]:
state=ksprojects.loc[(ksprojects['state']=='successful')]
state_sorted = state.sort_values(by=['usd_pledged'], ascending=False)
state_sorted.head(10)

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
12253,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09 07:00:00,950000.0,2012-07-10 14:44:41,successful,63416,US,8596480.0,USD,8596480.0
26917,1152735261,Pono Music - Where Your Soul Rediscovers Music,Sound,Technology,2014-04-15 19:30:42,800000.0,2014-03-11 18:30:42,successful,18220,US,6225360.0,USD,6225360.0
45290,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,2015-06-13 05:00:00,500000.0,2015-05-11 18:58:41,successful,64867,US,5545990.0,USD,5545990.0
46419,1045500705,Zombicide: Black Plague,Tabletop Games,Games,2015-07-07 02:00:00,125000.0,2015-06-08 20:59:38,successful,20915,US,4079200.0,USD,4079200.0
59897,132311747,Massive Darkness,Tabletop Games,Games,2016-07-08 01:00:00,200000.0,2016-06-07 21:02:31,successful,22361,US,3560640.0,USD,3560640.0
27604,1265992004,The Micro: The First Truly Consumer 3D Printer,3D Printing,Technology,2014-05-07 14:45:46,50000.0,2014-04-07 14:45:46,successful,11855,US,3401360.0,USD,3401360.0
45456,1194278206,Yooka-Laylee - A 3D Platformer Rare-vival!,Video Games,Games,2015-06-17 01:00:00,175000.0,2015-05-01 17:57:02,successful,73206,GB,3225230.0,GBP,2090100.0
22674,127494612,Reaper Miniatures Bones II: The Return Of Mr B...,Tabletop Games,Games,2013-10-27 01:00:00,30000.0,2013-10-01 16:00:34,successful,14964,US,3169610.0,USD,3169610.0
47232,1194924825,Reaper Miniatures Bones 3: The Search for Mr. ...,Tabletop Games,Games,2015-07-26 00:00:00,30000.0,2015-07-07 17:00:43,successful,13465,US,2730370.0,USD,2730370.0
57199,1241205786,OSSIC X: The first 3D audio headphones calibra...,Sound,Technology,2016-04-21 17:00:00,100000.0,2016-02-23 09:07:07,successful,10263,US,2708470.0,USD,2708470.0

5. Create a new column named average_per_backer and set its value to the total amount pledged / number of backers. What happened to the rows with 0 backers? How can this be dealt with?

In [47]:
ksprojects_backer = ksprojects[ksprojects.backers>0]
ksprojects_avgbacker = ksprojects_baker.assign(average_per_backer=ksprojects_baker.usd_pledged/ksprojects_baker.backers)
ksprojects_avgbacker.head(5)

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00,10.000000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00,50.000000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00,42.718750
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00,273.958333
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66,22.802727

6. Drop all rows with 0 backers then repeat the previous exercise.

In [43]:
ksprojects_backer = ksprojects.dropna()
ksprojects_avgbacker = ksprojects_baker.assign(average_per_backer=ksprojects_baker.usd_pledged/ksprojects_baker.backers)
ksprojects_avgbacker.head(3)

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.0,USD,40.0,10.00000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.0,USD,700.0,50.00000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.0,USD,1367.0,42.71875

7. Create a crosstab to get a count of records for each combination of state and category.

In [54]:
pd.crosstab(ksprojects_nodup['state'], ksprojects_nodup['category'])

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,17,21,48,14,2,41,4,127,166,10,...,25,3,114,4,119,10,0,31,16,6
failed,59,86,238,79,31,245,34,684,784,86,...,71,8,634,28,656,125,12,174,78,26
live,3,3,16,1,0,8,6,37,28,4,...,7,0,23,3,5,4,1,2,1,1
successful,43,43,121,16,11,134,83,211,55,26,...,57,3,73,55,313,38,8,168,23,17
suspended,2,4,2,0,1,1,0,5,5,2,...,2,1,6,0,6,2,1,1,0,0
undefined,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0