In [23]:
import pandas as pd

state_populations = pd.read_csv(r'C:\Users\ojiang1\Desktop\Data Science\state_populations.csv')
census_divisions = pd.read_csv(r'C:\Users\ojiang1\Desktop\Data Science\census_divisions.csv')

census = pd.merge(state_populations, census_divisions)
census.head(5)

,state,2010,2011,2012,2013,2014,2015,2016,region,division
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300,South,East South Central
1,Alaska,714031,722713,731089,736879,736705,737709,741894,West,Pacific
2,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071,West,Mountain
3,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248,South,West South Central
4,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017,West,Pacific

2.Re-shape census so that one column contains all population measures, and another the year attributes.

In [68]:
census1=census.iloc[:,  :8]
table=pd.melt(
    frame=census1, 
    id_vars=['state'],var_name='year',value_name='population')
table

                    state  year  population
0                 Alabama  2010     4785492
1                  Alaska  2010      714031
2                 Arizona  2010     6408312
3                Arkansas  2010     2921995
4              California  2010    37332685
5                Colorado  2010     5048644
6             Connecticut  2010     3579899
7                Delaware  2010      899816
8    District of Columbia  2010      605183
9                 Florida  2010    18849098
10                Georgia  2010     9713521
11                 Hawaii  2010     1363945
12                  Idaho  2010     1571010
13               Illinois  2010    12841578
14                Indiana  2010     6490528
15                   Iowa  2010     3050738
16                 Kansas  2010     2858850
17               Kentucky  2010     4348662
18              Louisiana  2010     4544996
19                  Maine  2010     1327730
20               Maryland  2010     5788584
21          Massachusetts  2010     6565524
22               Michigan  2010     9877495
23              Minnesota  2010     5311147
24            Mississippi  2010     2970322
25               Missouri  2010     5996118
26                Montana  2010      990641
27               Nebraska  2010     1830051
28                 Nevada  2010     2703284
29          New Hampshire  2010     1316872
..                    ...   ...         ...
327         Massachusetts  2016     6811779
328              Michigan  2016     9928300
329             Minnesota  2016     5519952
330           Mississippi  2016     2988726
331              Missouri  2016     6093000
332               Montana  2016     1042520
333              Nebraska  2016     1907116
334                Nevada  2016     2940058
335         New Hampshire  2016     1334795
336            New Jersey  2016     8944469
337            New Mexico  2016     2081015
338              New York  2016    19745289
339        North Carolina  2016    10146788
340          North Dakota  2016      757952
341                  Ohio  2016    11614373
342              Oklahoma  2016     3923561
343                Oregon  2016     4093465
344          Pennsylvania  2016    12784227
345          Rhode Island  2016     1056426
346        South Carolina  2016     4961119
347          South Dakota  2016      865454
348             Tennessee  2016     6651194
349                 Texas  2016    27862596
350                  Utah  2016     3051217
351               Vermont  2016      624594
352              Virginia  2016     8411808
353            Washington  2016     7288000
354         West Virginia  2016     1831102
355             Wisconsin  2016     5778708
356               Wyoming  2016      585501

[357 rows x 3 columns]

3. Group the data by year and summarize it.

In [61]:
table1=table.groupby(['year']).describe()
table1

     population                                                              \
          count          mean           std       min        25%        50%
year
2010       51.0  6.065651e+06  6.839536e+06  564513.0  1700530.5  4348662.0
2011       51.0  6.111046e+06  6.907730e+06  567725.0  1713213.0  4369354.0
2012       51.0  6.156831e+06  6.974942e+06  576765.0  1725818.0  4384799.0
2013       51.0  6.200096e+06  7.038774e+06  582684.0  1732621.0  4400477.0
2014       51.0  6.246342e+06  7.110811e+06  583642.0  1741023.0  4413057.0
2015       51.0  6.292091e+06  7.181603e+06  586555.0  1746940.5  4424611.0
2016       51.0  6.335834e+06  7.243849e+06  585501.0  1757121.0  4436974.0


            75%         max
year
2010  6654375.0  37332685.0
2011  6717221.5  37676861.0
2012  6776617.0  38011074.0
2013  6837396.0  38335203.0
2014  6902053.5  38680810.0
2015  6988927.5  38993940.0
2016  7109535.5  39250017.0

4.Group the data by region, division and year and summarize it.

In [64]:
table2=census.groupby(['region','division']).describe()
table2

                              2010                                         \
                             count          mean           std        min
region    division
Midwest   East North Central   5.0  9.288169e+06  3.115322e+06  5690263.0
          West North Central   7.0  2.933965e+06  2.075859e+06   674526.0
Northeast Middle Atlantic      3.0  1.363957e+07  5.359948e+06  8803729.0
          New England          6.0  2.411557e+06  2.281514e+06   625982.0
South     East South Central   4.0  4.615287e+06  1.395037e+06  2970322.0
          South Atlantic       9.0  6.659007e+06  5.765840e+06   605183.0
          West South Central   4.0  9.117726e+06  1.077146e+07  2921995.0
West      Mountain             8.0  2.765811e+06  2.014203e+06   564513.0
          Pacific              5.0  9.998387e+06  1.546336e+07   714031.0

                                                                    \
                                      25%         50%          75%
region    division
Midwest   East North Central   6490528.00   9877495.0  11540983.00
          West North Central   1323188.00   2858850.0   4180942.50
Northeast Middle Atlantic     10758036.00  12712343.0  16057491.50
          New England          1119220.75   1322301.0   3016856.75
South     East South Central   4004077.00   4567077.0   5178286.75
          South Atlantic       1854230.00   5788584.0   9558915.00
          West South Central   3550201.00   4152299.5   9719824.50
West      Mountain             1425917.75   2384020.0   3343655.50
          Pacific              1363945.00   3838048.0   6743226.00

                                          2011                   ...      \
                                     max count          mean     ...
region    division                                               ...
Midwest   East North Central  12841578.0   5.0  9.301434e+06     ...
          West North Central   5996118.0   7.0  2.949452e+06     ...
Northeast Middle Atlantic     19402640.0   3.0  1.370169e+07     ...
          New England          6565524.0   6.0  2.421284e+06     ...
South     East South Central   6356671.0   4.0  4.636267e+06     ...
          South Atlantic      18849098.0   9.0  6.729908e+06     ...
          West South Central  25244310.0   4.0  9.236890e+06     ...
West      Mountain             6408312.0   8.0  2.793434e+06     ...
          Pacific             37332685.0   5.0  1.009360e+07     ...

                                     2015              2016                \
                                      75%         max count          mean
region    division
Midwest   East North Central  11605090.00  12839047.0   5.0  9.351195e+06
          West North Central   4302216.00   6076204.0   7.0  3.026494e+06
Northeast Middle Atlantic     16269543.50  19747183.0   3.0  1.382466e+07
          New England          3021075.25   6784240.0   6.0  2.455921e+06
South     East South Central   5289170.25   6595056.0   4.0  4.735048e+06
          South Atlantic      10035186.00  20244914.0   9.0  7.102590e+06
          West South Central  10359129.75  27429639.0   4.0  9.864018e+06
West      Mountain             3605178.75   6817565.0   8.0  2.981883e+06
          Pacific              7160290.00  38993940.0   5.0  1.056039e+07

                                                                    \
                                       std        min          25%
region    division
Midwest   East North Central  3.062305e+06  5778708.0   6633053.00
          West North Central  2.110138e+06   757952.0   1386285.00
Northeast Middle Atlantic     5.475062e+06  8944469.0  10864348.00
          New England         2.369081e+06   624594.0   1125189.25
South     East South Central  1.508482e+06  2988726.0   4074912.00
          South Atlantic      6.288927e+06   681170.0   1831102.00
          West South Central  1.201902e+07  2988248.0   3689732.75
West      Mountain            2.208796e+06   585501.0   1522985.00
          Pacific             1.624360e+07   741894.0   1428557.00


                                     50%          75%         max
region    division
Midwest   East North Central   9928300.0  11614373.00  12801539.0
          West North Central   2907289.0   4327322.50   6093000.0
Northeast Middle Atlantic     12784227.0  16264758.00  19745289.0
          New England          1333137.0   3016037.75   6811779.0
South     East South Central   4650137.0   5310273.50   6651194.0
          South Atlantic       6016447.0  10146788.00  20612439.0
          West South Central   4302613.5  10476898.50  27862596.0
West      Mountain             2510536.5   3673549.00   6931071.0
          Pacific              4093465.0   7288000.00  39250017.0

[9 rows x 56 columns]